<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stick It To Em</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column">
    <header class="display-flex justify-space-between align-center p-1" "custom-nav">
      <h1>
        {{!-- <span role="img" aria-label="money"></span>
        <a href="/">Stick It To Em</a> --}}
        <a class="active" href="/"><img src="https://i.ibb.co/wNkyLf1/keepit.png"></a>
      </h1>
        <!-- Conditionally render login or logout links -->
         <nav>
        {{#if logged_in}}
        <a class="no-button" href="/profile"><img src="https://i.ibb.co/kmY0LT0/newevent.png"></a> 
        <a class="no-button" href="/" id="logout"><img src="https://i.ibb.co/ZX3tL2t/logout.png"></a>
          {{else}}
        {{!-- <a href="/login">login</a> --}}
         <a class="custom-font"class="goRight" href="/login"><img src="https://i.ibb.co/0C4qDK2/LOGIN.png"></a>
         <a class="custom-font"class="goRight" href="/signup"><img src="https://i.ibb.co/3z2FRJd/signup.png"></a>
       </nav>
        {{/if}}
    </header>
    <main class="container container-fluid mt-5">
      <div class="custom-bg" id="bg">
        <img importance="low" src="https://i.ibb.co/wr0txL1/corkboard.jpg" alt="bg-image">
    </div>
{{#if logged_in}}
<div class="text-center">
  </div>
{{else}}
    <div class="text-center">
 <img class= "m-auto d-block" src="./img/sticky2.png" alt="sticky-logo">
  </div>
  {{/if}}


      <!-- Render the sub layout -->
    {{{ body }}}
   
    <div class="text-center">
  </div>
  
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>

