

  <header>
    <ul class="custom-nav">
        <li><a class="active" href="#home"><img src="public/img/stickymini.png" class="d-inline-block align-top" alt=""></a></li>
        <li><a class="custom-font" href="#contact">Keep it Sticky!</a></li>
        <li class="goRight"><a class="custom-font" href="#contact">Sign In</a></li>
        <li class="goRight"><a class="custom-font" href="#contact"> | </a></li>
        <li class="goRight"><a class="custom-font" href="#about">Create Account</a></li>
      </ul>
  </header>
  <main>
 <div class="custom-bg" id="bg">
        <img importance="low" src="public/img/corkboard.jpg" alt="bg-image">
    </div>
 </main>   
