#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  
}
.custom-bg {
    z-index: -1;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.goRight{
    float: right;
}
header li a:hover {
    text-decoration: none;
    color: black;
}
  .custom-nav{
      background-color:transparent;
  }
 .custom-font {
      font-size: 35px ;
      color:#9dfe6c;
      -webkit-text-stroke: .75px black;
  } 
  .project-list {
    justify-content: center;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }